pipeline/SendNotification.json
{
	"name": "SendNotification",
	"properties": {
		"activities": [
			{
				"name": "Set message",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "message",
					"value": "Hello"
				}
			},
			{
				"name": "Set username",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set message",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fullName",
					"value": {
						"value": "@pipeline().parameters.Username",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send message to user",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set replyTo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://develop.energycap.com/api/v202108/notification/type/1",
					"method": "POST",
					"headers": {
						"eci-apikey": "ZWNhcHxUZXN0.dGVjaGRpdl8wMDF8MTE4MHwxNDYw.NDdhNzQzMmEtYzg2ZC00ODk5LWEwZjktZDBkNTY2NDA2MTZj"
					},
					"body": {
						"value": "{\n    \"Subject\": \"Message @pipeline().RunId\",\n    \"Message\": \"<h1>@concat(variables('message'),' ,',variables('fullName'))</h1>\",\n    \"ReplyTo\": \"@variables('replyToEmail')\",    \n    \"NotificationTypeId\": 1,\n    \"SendToAllUsers\": false\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set replyTo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set username",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "replyToEmail",
					"value": "foo@energycap.com"
				}
			}
		],
		"parameters": {
			"Username": {
				"type": "String",
				"defaultValue": "John Smith"
			}
		},
		"variables": {
			"message": {
				"type": "String"
			},
			"fullName": {
				"type": "String"
			},
			"replyToEmail": {
				"type": "String"
			}
		},
		"annotations": []
	}
}