pipeline/SendNotification.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set message",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "message",
					"value": "Hello"
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set message",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fullName",
					"value": "John Smith"
				}
			},
			{
				"name": "Send message to user",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://develop.energycap.com/api/v202108/notification/type/1",
					"method": "POST",
					"headers": {
						"eci-apikey": "ZWNhcHxUZXN0.dGVjaGRpdl8wMDF8MTE4MHwxNDYw.NDdhNzQzMmEtYzg2ZC00ODk5LWEwZjktZDBkNTY2NDA2MTZj"
					},
					"body": {
						"value": "concat('{\"Subject\": \"ADF Message\",\"Message\": \"<h1>',concat(@variables('message'),', ',@variables('fullName'),'!'),'</h1>\",\"ReplyTo\": \"do-not-reply-kurt@energycap.com\",\"NotificationTypeId\": 1 }')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"message": {
				"type": "String"
			},
			"fullName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}